apiVersion: v1
kind: Secret
metadata:
  name: rook-ceph-external-cluster-details
  namespace: {{ odf_namespace }}
type: Opaque
stringData:
  external_cluster_details: |
    [
      {
        "name": "rook-ceph-mon-endpoints",
        "kind": "ConfigMap",
        "data": {
          "data": "a={{ ceph_mon_ip }}:3300",
          "mapping": "{}",
          "maxMonId": "0"
        }
      },
      {
        "name": "rook-ceph-mon",
        "kind": "Secret",
        "data": {
          "admin-secret": "{{ ceph_admin_key }}",
          "fsid": "{{ ceph_fsid }}",
          "mon-secret": "mon-secret"
        }
      },
      {
        "name": "rook-ceph-operator-creds",
        "kind": "Secret",
        "data": {
          "userID": "admin",
          "userKey": "{{ ceph_admin_key }}"
        }
      },
      {
        "name": "rook-csi-rbd-provisioner",
        "kind": "Secret",
        "data": {
          "userID": "openshift",
          "userKey": "{{ ceph_key }}"
        }
      },
      {
        "name": "rook-csi-rbd-node",
        "kind": "Secret",
        "data": {
          "userID": "openshift",
          "userKey": "{{ ceph_key }}"
        }
      },
      {
        "name": "ceph-rbd",
        "kind": "StorageClass",
        "data": {
          "pool": "{{ ceph_config.pool_name }}"
        }
      },
      {
        "name": "monitoring-endpoint",
        "kind": "CephCluster",
        "data": {
          "MonitoringEndpoint": "{{ ceph_mon_ip }}",
          "MonitoringPort": "9283"
        }
      }
    ]
