apiVersion: v1
kind: Secret
metadata:
  name: rook-csi-rbd-provisioner
  namespace: {{ odf_namespace }}
type: kubernetes.io/rook
data:
  userID: {{ 'openshift' | b64encode }}
  userKey: {{ ceph_key | b64encode }}
---
apiVersion: v1
kind: Secret
metadata:
  name: rook-csi-rbd-node
  namespace: {{ odf_namespace }}
type: kubernetes.io/rook
data:
  userID: {{ 'openshift' | b64encode }}
  userKey: {{ ceph_key | b64encode }}
